.audio-button {
  color: var(--accent3);
  transition: 0.3s ease-in-out;
  /* font-weigt: ; */

  .data-container {
    transition: 0.3s;

    .bar {
      font-weight: bold;
    }

    &.muted {
      color: var(--accent6);

      &.silence {
        padding-right: 5px;
      }
    }

    &.silence {
      padding-right: 0px;
    }

    .bar {
      font-weight: bolder;
      font-family: "Wavefont", "Wavefont Thin";
    }
  }
}
