@use "../themes.scss";

.battery-dashboard-togler {
  padding: 0;
  min-width: 0;
  min-height: 0;
  margin-right: 5px;
  background-color: var(--bg2);
  border-radius: 4px;
  border: none;
  transition: 0.3s;

  &:hover {
    padding: 0;
    background-color: var(--bg4);
  }

  .battery {
    padding: 1px 10px;
    background-color: transparent;
    color: var(--yellow);
  }
}

window.Battery {
  font-weight: bold;
  font-size: 10pt;

  color: var(--fg);

  .container {
    background: var(--bg0);
    padding: 10px;
    border: 2px solid var(--bg4);
    margin-left: 12px;
    border-radius: 8px;
    min-width: 190px;

    .title {
      text-align: "center";
      font-size: 12pt;
    }

    .battery-dashboard-percentage {
      /* background: transparent; */

      >label {
        margin-left: 5px;
      }

      scale {
        border-radius: 0px;
        padding: 10px 0;

        trough {
          background: var(--bg3);
          min-height: 10px;
          margin: 0;
          border-radius: 3px;

          highlight {
            background: var(--aqua);
            border-radius: 3px;
            margin: 0;
          }

          slider {
            box-shadow: none;
            background: transparent;
            pointer-events: none;
            color: red;
          }
        }
      }
    }

    .percentage {
      min-height: 8px;
      background: var(--bg3);

      .fill {
        min-height: 8px;
        background: var(--blue);
        min-width: 50px;
      }
    }
  }
}
