.clock {
  font-weight: bolder;
  color: var(--fg);

  >.toggle {
    color: inherit;
    font-weight: inherit;
    background: transparent;

    &:hover {
      background: var(--bg3);
    }
  }

  label {
    margin: 0px 0px;
    padding: 0px 0px;
  }

  .icon {
    font-size: 11pt;
  }
}
