.network-button {
  color: var(--purple);

  .network-icon {}

  .rotate {
    animation: rotate-network 1.7s ease-out infinite;
  }
}

.rotate {
  padding: 0;
  animation: rotate-network 1.7s ease-out infinite;
}

@keyframes rotate-network {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.network-dashboard {
  min-width: 250px;

  >label {
    border-bottom: 2px solid var(--gray0);
  }

  .network-icon {
    font-size: 60pt;
    padding-top: 0;
    line-height: 40pt;
    padding-right: 20px;
    color: var(--grey1);
  }

  .wifi-settings {
    background: var(--bg2);
    padding-right: 0px;
    padding: 15px;

    .network-icon {
      margin-right: 50px;
      color: var(--fg);
    }

    .network-info-status {
      :nth-child(1) {
        color: var(--fg);
        font-size: 12pt;
      }

      :nth-child(2) {
        color: var(--grey0);
      }

      :nth-child(4) {
        color: var(--green);
        font-size: 9pt;
      }
    }
  }

  .disconnected-card {
    :nth-child(2) {
      font-size: 12pt;
      color: var(--grey1);
    }
  }

  .connection-manager {
    min-height: 10px;
    padding-top: 5px;

    .network-scan-label {
      margin: 0;
      padding: 0;
      min-width: 60pt;
      padding-right: 19px;
      font-size: 50pt;
      line-height: 50pt;
      color: var(--bg3);
    }

    .title {
      padding-bottom: 5px;
    }

    .acces-point-button {
      button {
        padding: 4px 10px;
        background: var(--bg1);

        &:hover {
          background: var(--bg2);
        }
      }
    }
  }
}
