.now-playing {
  color: var(--accent2);
  font-weight: bolder;
  transition: 0.3s;

  >.toggle {
    color: inherit;
    font-weight: inherit;
    background: transparent;

    &:hover {
      background: var(--bg3);
    }
  }

  .paused {
    color: var(--grey2);
  }

  .stopped {
    color: var(--grey0);
  }
}

.playing-popup {
  min-width: 300px;

  label {
    color: var(--fg);
    font-weight: bolder;
  }

  .song-info {
    background: var(--bg1);
    padding: 5px;
    border-radius: 5px;

    .song-artist {
      color: var(--fg1);
      font-size: 9pt;
    }

    .song-album {
      color: var(--fg2);
      font-size: 8pt;
    }
  }

  .picture {
    border-radius: 5px;
  }

  scale {
    border-radius: 0px;
    padding: 10px 0;

    trough {
      background: var(--bg3);
      min-height: 5px;
      margin: 0;
      border-radius: 1000px;

      highlight {
        background: var(--accent2);
        border-radius: 1000px;
        margin: 0;
      }

      slider {
        box-shadow: none;
        background: transparent;
        pointer-events: none;
        outline: none;
        color: red;
      }
    }
  }
}
