.now-playing {
  color: var(--accent2);
  font-weight: bolder;
  transition: 0.3s;

  > .toggle {
    color: inherit;
    font-weight: inherit;
    background: transparent;
  }

  .paused {
    color: var(--grey2);
  }

  .stopped {
    color: var(--grey0);
  }
}
