.now-playing {
  color: var(--accent2);
  font-weight: bolder;
  transition: 0.3s;

  > .toggle {
    color: inherit;
    font-weight: inherit;
    background: transparent;

    &:hover {
      background: var(--bg3);
    }
  }

  .paused {
    color: var(--grey2);
  }

  .stopped {
    color: var(--grey0);
  }
}

.playing-popup {
  min-width: 300px;
  margin-top: -4px;
  padding: 2px;
  border-radius: 16px;
  background: transparent;
  border: none;

  &.rounding-none {
    border-top-right-radius: 0;
  }

  &.rounding-full {
    border-top-right-radius: 1000px;
  }

  &.rounding-sm {
    border-top-right-radius: 3px;
  }

  &.rounding-md {
    border-top-right-radius: 7px;
  }

  &.rounding-lg {
    border-top-right-radius: 10px;
  }

  label {
    color: var(--fg);
    font-weight: bolder;
  }

  .song-info {
    background: var(--bg2);
    padding: 10px;
    border-radius: 12px;

    .song-title {
      font-size: 11pt;
    }

    .song-artist {
      color: var(--fg1);
      font-size: 9pt;
    }

    .song-album {
      color: var(--fg2);
      font-size: 8pt;
    }
  }

  .picture {
    border-radius: 12px;
  }

  .playback-controls {
    .playback-control {
      min-width: 12px;
      font-size: 12pt;
      min-height: 12px;
      padding: 1px;
      border-radius: 999px;
      background: transparent;
      color: var(--fg1);

      &:hover {
        background: var(--bg3);
        color: var(--fg);
      }

      &:disabled {
        color: var(--grey1);
      }
    }

    .play-pause {
      color: var(--accent2);

      &:hover {
        color: var(--accent1);
      }
    }
  }

  scale {
    border-radius: 0px;
    padding: 8px 0 4px;

    trough {
      background: var(--bg3);
      min-height: 5px;
      margin: 0;
      border-radius: 1000px;

      highlight {
        background: var(--accent2);
        border-radius: 1000px;
        margin: 0;
      }

      slider {
        box-shadow: none;
        background: transparent;
        pointer-events: none;
        outline: none;
        color: red;
      }
    }
  }
}
