.timer-button {
  .timer-button-container {
    font-size: 10pt;
    font-weight: bolder;
    color: var(--fg);

    .bar-icon-icon {
      font-size: 11pt;
      padding: 0px 1px;

      color: var(--accent1);
    }
  }
}

.timer-popover {
  .title {
    font-size: 12pt;
    font-weight: bolder;
    color: var(--fg1);
  }

  .time {
    font-size: 18pt;
    color: var(--accent2);
    margin: 20px 0px;
  }

  .default-timers {
    font-size: 20pt;
    color: var(--fg2);
    background: transparent;

    &:hover {
      color: var(--fg);
    }
  }

  .time-modifier-button {
    font-size: 10pt;
    font-weight: bold;
    background: var(--bg2);
    border-radius: 5px;

    &:hover {
      color: var(--accent2);
    }
  }

  .pomodoro-types {
    border-radius: 5px;
    font-size: 10pt;
    font-weight: bold;
    background: var(--bg1);
    padding: 5px 5px;
    transition: 0.3s ease-in-out;

    &:hover {
      background: var(--bg3);
    }
  }

  .run-button {
    font-size: 12pt;
    border-radius: 5px;
    margin-bottom: 0;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    background: var(--bg1);

    &.start {
      color: var(--accent2);

      &:hover {
        background: var(--accent2);
        color: var(--bg0);
      }
    }

    &.cancel {
      color: var(--accent6);

      &:hover {
        background: var(--accent6);
        color: var(--bg0);
      }
    }

    &.pause {
      color: var(--accent1);

      &:hover {
        background: var(--accent1);
        color: var(--bg0);
      }
    }
  }
}
