.wallpaper-picker {
  background: transparent;
  padding: 0px;
  border-radius: 10px;
  // border: 2px solid var(--border0);

  &.window {
    background: transparent;
    border: none;
  }

  .wp-scroll {
    background: transparent;
    min-height: 400px;
    max-height: 680px;
  }

  .monitor-button {
    background-color: var(--bg1);
    padding: 2px 5px;
    font-weight: bolder;

    &:hover {
      background-color: var(--bg2);
    }

    &.active {
      /* background: var(--accent1); */
      color: var(--accent1);
    }
  }

  .picture {
    border-radius: 5px;
    border: 2px solid var(--border1);
  }
}
