.workspaces {
  background: var(--bg2);
  min-height: 0px;
  padding: 4px 5px;
  border-radius: 4px;
  transition: 0.3s;
  /* height: 10px; */

  /* aspect-ratio: 1; */
  /* width: 4px; */
  /* height: 10px; */

  .workspace-button-container {
    aspect-ratio: 1;
    margin-left: 3px;
    padding: 2px 0px;

    .workspace-button {
      background: var(--bg0);
      min-height: 10px;
      min-width: 10px;
      padding: 0px 1px;
      transition: 0.3s;
      border: 2px solid var(--bg4);
      box-sizing: border-box;

      &:hover {
        border-radius: 1000px;
        border: 2px solid var(--aqua);
        padding: 0px 0px;
      }

      &.focused {
        animation: active-workspace 0.3s ease-in-out 1;
        border: 2px solid var(--purple);
        padding: 0px 1px;
        /* background-color: var(--purple); */
        /* border-color: var(--bg3); */
        /* padding: 0px 5px; */
        transition: 0.3s;
      }
    }
  }
}

@keyframes active-workspace {
  0% {
    transform: scale(1);
    padding: 0px 1px;
    border: 2px solid var(--bg4);
  }

  25% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    padding: 0px 1px;
    border: 2px solid var(--purple);
  }
}
