.workspaces {
  /* background: var(--bg2); */
  min-height: 0px;
  padding: 4px 5px;
  border-radius: 4px;

  .workspace-button-container {
    aspect-ratio: 1;
    /* margin-left: 3px; */
    padding: 2px 0px;

    .workspace-button {
        /* background: var(--bg0); */
        background-color: transparent;
        color: var(--bg4);
      padding: 0px 0px;
      transition:
        padding 0.3s ease-in-out,
        padding-left 0.2s ease-in-out,
        padding-right 0.1s ease-in-out,
        color 0s ease-out,
        background-color 0s ease-in-out;
      box-sizing: border-box;

      &.dot {
        font-size: 12pt;

        &.occupied {
          color: var(--fg);
        }
      }

        &.icons-filled {
          /* background-color: var(--bg2); */
          padding: 0px 2px;
          min-height: 0;

          &.occupied {
            color: var(--grey2);
          }

          &.focused {
            background-color: var(--accent0);
            padding: 0px 8px;
            color: var(--bg2);
          }
        }

        &.dots {
          padding: 0px 2px;
          min-height: 0;

          &.occupied {
            color: var(--grey2);
          }

          &.focused {
            color: var(--accent0);
          }
        }

        &.icons {
          padding: 0px 2px;
          min-height: 0;

          &.occupied {
            color: var(--grey2);
          }

          &.focused {
            color: var(--accent0);
          }
        }

        &.numbers {
          /* background-color: var(--bg2); */
          padding: 0px 0px;
          min-height: 0;

          &.occupied {
            color: var(--grey2);
          }

          &.focused {
            background-color: var(--accent0);
            padding: 0px 8px;
            color: var(--bg2);
          }
        }

      label {
        font-weight: bolder;
        padding: 0;
        margin: 0;
      }

      &:hover {
        border-radius: 1000px;
        /* border: 2px solid var(--accent2); */
      }

        &.focused {
          /* animation: active-workspace 0.3s ease-in-out 1; */
          color: var(--accent0);
          /* border: 2px solid var(--accent0); */
          /* padding: 0px 1px; */
          /* background-color: var(--accent0); */
          /* border-color: var(--bg3); */
          /* padding: 0px 5px; */
        }
    }
  }
}

@keyframes active-workspace {
  0% {
    transform: scale(1);
    /* padding: 0px 1px; */
    /* border: 2px solid var(--bg4); */
    /* color: var(--grey0); */
  }

  25% {
    transform: scale(0.9);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    /* padding: 0px 1px; */
    /* border: 2px solid var(--accent0); */
    /* color: var(--accent0); */
  }
}
