.settings-window .settings-section {
  // Widget arrangement editor
  .position-editor {
    hexpand: true;
    min-width: 110px;

    .widget-group {
      background: var(--bg3);
      border-radius: 6px;
      padding: 8px;
      border: 1px solid var(--border0);
    }

    .widget-chip-row {
      background: var(--bg2);
      border-radius: 6px;
      padding: 4px 5px;

      .widget-row-label {
        font-size: 9pt;
        color: var(--fg1);
      }

      .widget-row-btn {
        background: transparent;

        &:hover {
          background: var(--bg1);
        }
      }
    }

    .widget-row {
      background: var(--bg3);
      border-radius: 6px;
      padding: 4px 8px;
      font-weight: bolder;

      .widget-row-label {
        font-size: 10pt;
        color: var(--fg1);
      }

      .widget-row-btn {
        background: transparent;
        border-radius: 4px;
        padding: 1px 1px;
        font-size: 10pt;
        font-weight: bolder;
        color: var(--fg2);
        min-width: 0;

        &.remove {
          color: var(--accent5);
        }

        transition:
          color 0.1s,
          background 0.1s;

        &:hover {
          background: var(--bg4);
          color: var(--fg);
        }

        &:disabled {
          color: var(--bg4);
        }

        &.remove:hover {
          color: var(--accent6);
        }
      }
    }

    .settings-chip.add {
      font-size: 10pt;
      font-weight: bolder;
      padding: 2px 8px;
      color: var(--accent3);
      border-color: var(--accent3);
      background: transparent;

      &:hover {
        background: var(--bg4);
      }
    }
  }

  .position-separator {
    background: var(--border0);
    min-height: 1px;
    margin: 4px 0;
  }
}
