/* ---- Configuration ---- */
configuration {
    show-icons:                     false;
}

/* ---- Load pywal colors (custom wal template) ---- */
@import "~/.config/rofi/custom/colors.rasi"

/* ---- Global Properties ---- */
* {
    // font:                           "Fira Code Medium 12";
}

/* ---- Main Window ---- */
window {
    padding:                        0px;
    border:                         2px;
    border-radius:                  10px;
    border-color:                   @purple;
    border: 1px solid;
    cursor:                         "default";
    background-color:               @bg0;
    location:                       center;
    anchor:                         center;
    fullscreen:                     false;
    width:                          400px;
    height:                         79px;
    x-offset:                       0px;
    y-offset:                       0px;
}

/* ---- Main Box ---- */
mainbox {
    enabled:                        true;
    spacing:                        0px;
    margin:                         0px;
    padding:                        0px;
    border-radius:                  10px;
    border:                         2px solid;
    // border-color:                   @surface1;
    // background-image:               url("~/.config/rofi/.current_wallpaper", height);
    background-color:               @bg0;
    children:                       [ "listview"];
}

/* ---- Inputbar ---- */
inputbar {
    enabled:                        true;
	padding:						10px;
    background-color:               transparent;
    orientation:                    horizontal;
    children:                       ["prompt"];
}

prompt {
    enabled:                        true;
	padding:						10px;
	border-radius:					15px;
    border-color:                   @foreground;
    background-color:               @background-color;
    text-color:                     @foreground;
    cursor:                         text;
}

/* ---- Listview ---- */
listview {
    enabled:                        true;
    columns:                        4;
    lines:                          1;
    cycle:                          true;
    dynamic:                        true;
    scrollbar:                      false;
    layout:                         vertical;
    reverse:                        false;
    fixed-height:                   true;
    fixed-columns:                  true;
    spacing:                        10px;
    padding:                        10px 10px;
    background-color:               transparent;
    cursor:                         "default";
    border:                         0px;
	border-color:                   @active-background;
}

/* ---- Elements ---- */
element {
    enabled:                        true;
    // padding:                        0px;
    border-radius:                  10px;
    background-color:               transparent;
    text-color:                     @purple;
    cursor:                         pointer;
    // borrder-color: 2px solid red;
}
element-text {
    font:                           "Hasklug Nerd Font Mono 30";
    background-color:               transparent;
    text-color:                     inherit;
    cursor:                         inherit;
    vertical-align:                 0.5;
    horizontal-align:               0.5;
}
element selected.normal {
    background-color:               @purple;
    text-color:                     @bg0;
}
element alternate.normal {
    background-color:               @background;
}

/* ---- Message ---- */
message {
    enabled:                        false;
    margin:                         0px;
    background-color:               transparent;
    text-color:                     @foreground;
    border:                         0px;
}
textbox {
    // font:                           "Fira Code SemiBold 8";
    background-color:               @background;
    text-color:                     @foreground;
    vertical-align:                 0.5;
    horizontal-align:               0.5;
}
