layout {
default_tab_template {
    pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {

            format_left   "{mode}#[bg=default] {tabs}"
            format_center "{datetime}"
            format_right  "#[bg=default,fg=4]█#[bg=4,fg=0,bold] #[bg=default,fg=4,bold] {session} #[bg=default,fg=7,bold]"
            format_space  ""
            format_hide_on_overlength "true"
            format_precedence "crl"

            border_enabled  "false"
            border_char     "─"
            border_format   "#[fg=7]{char}"
            border_position "top"

            mode_normal        "#[bg=2,fg=0,bold] NORMAL#[bg=default,fg=2]█"
            mode_locked        "#[bg=8,fg=0,bold] LOCKED #[bg=default,fg=8]█"
            mode_resize        "#[bg=1,fg=0,bold] RESIZE#[bg=default,fg=1]█"
            mode_pane          "#[bg=4,fg=0,bold] PANE#[bg=default,fg=4]█"
            mode_tab           "#[bg=6,fg=0,bold] TAB#[bg=default,fg=6]█"
            mode_scroll        "#[bg=3,fg=0,bold] SCROLL#[bg=default,fg=3]█"
            mode_enter_search  "#[bg=4,fg=0,bold] ENT-SEARCH#[bg=default,fg=4]█"
            mode_search        "#[bg=4,fg=0,bold] SEARCH#[bg=default,fg=4]█"
            mode_rename_tab    "#[bg=6,fg=0,bold] RENAME-TAB#[bg=default,fg=6]█"
            mode_rename_pane   "#[bg=4,fg=0,bold] RENAME-PANE#[bg=default,fg=4]█"
            mode_session       "#[bg=6,fg=0,bold] SESSION#[bg=default,fg=6]█"
            mode_move          "#[bg=5,fg=0,bold] MOVE#[bg=default,fg=5]█"
            mode_prompt        "#[bg=4,fg=0,bold] PROMPT#[bg=default,fg=4]█"
            mode_tmux          "#[bg=3,fg=0,bold] TMUX#[bg=default,fg=3]█"
            hide_frame_for_single_pane "true"

            // inactive tabs
            tab_normal            "#[bg=default,fg=7]█#[bg=7,fg=0,bold]{index} #[bg=default,fg=15,bold] {name}{floating_indicator}#[bg=default,fg=0,bold] "
            tab_normal_fullscreen "#[bg=default,fg=7]█#[bg=7,fg=0,bold]{index} #[bg=default,fg=15,bold] {name}{fullscreen_indicator}#[bg=default,fg=default,bold] "
            tab_normal_sync       "#[bg=default,fg=7]█#[bg=7,fg=0,bold]{index} #[bg=default,fg=15,bold] {name}{sync_indicator}#[bg=default,fg=0,bold] "

            // active tab
            tab_active            "#[bg=default,fg=3]█#[bg=3,fg=0,bold]{index} #[bg=default,fg=3,bold] {name}{floating_indicator}#[bg=default,fg=0,bold] "
            tab_active_fullscreen "#[bg=default,fg=3]█#[bg=3,fg=0,bold]{index} #[bg=default,fg=3,bold] {name}{fullscreen_indicator}#[bg=default,fg=0,bold] "
            tab_active_sync       "#[bg=default,fg=3]█#[bg=3,fg=0,bold]{index} #[bg=default,fg=3,bold] {name}{sync_indicator}#[bg=defaultt,fg=0,bold] "

            tab_separator "#[bg=default] "

            // indicators
            tab_sync_indicator       " "
            tab_fullscreen_indicator " 󰊓"
            tab_floating_indicator   " 󰹙"

            command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
            command_git_branch_format      "#[fg=4] {stdout} "
            command_git_branch_interval    "10"
            command_git_branch_rendermode  "static"

            datetime        "#[fg=15,bold] {format} "
            datetime_format "%A, %d %b %Y %H:%M"
            datetime_timezone "Europe/Madrid"            
        }
    }
    children
}
}
