.flush {
  &.Bar {
    border-radius: 0;

    .bar-icon {
      margin: 0 2.5px;
    }

    .bar-section {
      padding: 0px 0px;

      .workspaces {
        background: transparent;
        margin: 0;
        padding: 0;

        &.bar-icon {
          padding: 0px;
          margin: 0;
        }

        .workspace-button-container {
          margin: 0px;
          padding: 0px;
        }

        .workspace-button {
          box-shadow: none;
          padding: 0px 4px;
          margin: 0;
          background: var(--bg2);
          transition: 0.1s ease-in-out;

          &.occupied {
            color: var(--fg);
          }

          &.focused {
            padding: 0px 10px;
            background: var(--accent0);
          }
        }
      }

      .current-app {
        background: transparent;
      }
    }

    &.compact {
      .bar-content {
        padding: 2px 0px;
      }

      .workspace-button-container {
        margin: 3px 0px;
      }
    }

    .bar-content {
      padding: 5px 5px;
      border: none;
      border-radius: 0px;
      margin: 0px;

      .bar-icon {
        padding: 0px 5px;
      }
    }
  }

  &.separated-islands {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

    &.rounding-full {
      .bar-section {
        padding: 5px 0px;
        padding-left: 20px;
        padding-right: 20px;

        &:nth-child(1),
        &:nth-child(3) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }

    &.Bar .bar-content {
      border-top: none;

      .bar-icon {
        padding: 0px 2px;
      }

      .bar-section {
        border-top: none;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
      }
    }
  }

  &.island.Bar {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

    .bar-content {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
  }
}
