.flush {
  &.Bar {
    border-radius: 0;

    .bar-content {
      border: none;
      border-radius: 0px;
      border-bottom: 2px solid var(--bg4);
      margin: 0px;
    }
  }

  &.island.Bar {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

    .bar-content {
      border: 2px solid var(--bg4);
      border-top: none;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
  }
}
