.rounding-none {
  border-radius: 0px;

  &.Bar,
  &.Popup {
    .bar-content {
      border-radius: 0px;
    }
  }

  .bar-section {
    border-radius: 0px;
  }

  &.window {
    border-radius: 0px;
  }

  .workspaces {
    .workspace-button-container {
      .workspace-button {
        border-radius: 0px;
      }
    }
  }

  .bar-icon {
    border-radius: 0px;
  }
}

.rounding-full {
  border-radius: 1000px;

  .bar-section {
    border-radius: 1000px;
  }

  &.card {
    border-radius: 10px;
  }

  &.window {
    border-radius: 10px;
  }

  .workspaces {
    .workspace-button-container {
      .workspace-button {
        border-radius: 1000px;
      }
    }
  }

  &.Bar {
    .bar-content {
      border-radius: 1000px;
    }
  }

  .workspaces {
    .workspace-button-container {
      .workspace-button {
        border-radius: 1000px;
      }
    }
  }

  .bar-icon {
    border-radius: 1000px;
  }
}

.rounding-sm {
  border-radius: 3px;

  .bar-content {
    border-radius: 3px;
  }

  .bar-section {
    border-radius: 3px;
  }

  &.window {
    border-radius: 3px;
  }

  .bar-icon {
    border-radius: 3px;
  }

  .workspaces {
    .workspace-button-container {
      .workspace-button {
        border-radius: 3px;
      }
    }
  }
}

.rounding-md {
  border-radius: 7px;

  &.Bar {
    .bar-content {
      border-radius: 7px;
    }
  }

  .bar-section {
    border-radius: 7px;
  }

  &.window {
    border-radius: 7px;
  }

  .bar-icon {
    border-radius: 7px;
  }
}

.rounding-lg {
  &.Bar {
    .bar-content {
      border-radius: 10px;
    }
  }

  .bar-section {
    border-radius: 10px;
  }

  border-radius: 10px;

  &.window {
    border-radius: 7px;
  }

  .bar-icon {
    border-radius: 10px;
  }
}

.compact {
  font-size: 10pt;

  &.Bar {
    .bar-content {
      background: var(--bg1);
      padding: 5px 5px;
    }

    .bar-section {
      background-color: var(--bg1);
    }

    .workspaces {
      background-color: var(--bg1);
    }
  }

  .workspaces {
    padding: 0px 0px;
    background-color: var(--bg1);

    .workspace-button-container {
      padding: 0px 0px;

      .workspace-button {
        margin: 2px 0px;

        &.focused {
          /* background-color: var(--accent0); */
        }
      }
    }
  }

  .bar-icon {
    font-size: 10pt;
    background-color: var(--bg1);
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
}
