* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Roboto", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
}

window#waybar {
    padding-left: 30px;
    background: shade(alpha(@bar-bg, 1), 1);
    /* border-bottom: 1px solid @border-bottom; */
    border-bottom: 1px solid rgba(100, 114, 125, 0.5);
    color: @text;
    padding-right: 30px;
}

window#waybar.hidden {
    /**opacity: 0.2;**/
}
