#battery {
    color: @orange;
    background: @bg2;
    font-family: "Roboto";
    font-size: 14px;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    /* margin-right: 10px; */
    margin: 6px 4px;
    border: 0px solid @battery-border;
}

#battery.charging,
#battery.plugged {
    color: @battery-charging-color;
    background: @battery-charging-background;
    border-color: @battery-charging-border;
}

@keyframes blink {
    to {
        background-color: @bg4;
        color: @aqua;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
