set $mod Mod1
set $win Mod4

bindsym $win+o exec --no-startup-id "rofi -show drun"
bindsym $win+p exec "arandr"
bindsym $win+b exec "blueman-manager"
bindsym $win+Shift+m exec "alacritty -e cava"
bindsym $win+n exec "nm-connection-editor"
bindsym $mod+n exec --no-startup-id "kill -s USR1 $(pidof deadd-notification-center)"

bindsym $win+s exec --no-startup-id "maim -i $(xdotool getactivewindow) ~/mypicture.jpg"

bindsym $win+x exec "\
    echo 1 > /sys/class/leds/platform\:\:micmute/brightness; \
    sleep 5; \
    maim --hidecursor ~/screenshots/$(date +%Y-%b-%d--%H-%M-%S_maim | tr A-Z a-z).png; \
    echo 0 > /sys/class/leds/platform\:\:micmute/brightness; \
    i3-nagbar --message 'Screenshot created' --type warning & \
    sleep 3; pkill i3-nagbar"

# Screenshots
bindsym Print exec --no-startup-id $HOME/.dotfiles/scripts/screenshots/basic.sh
bindsym $mod+Print exec --no-startup-id maim --window $(xdotool getactivewindow) "/home/$USER/$(date).png"
bindsym Shift+Print exec --no-startup-id $HOME/.dotfiles/scripts/screenshots/select.sh

## Clipboard Screenshots
bindsym Ctrl+Print exec --no-startup-id maim | xclip -selection clipboard -t image/png
bindsym Ctrl+$mod+Print exec --no-startup-id maim --window $(xdotool getactivewindow) | xclip -selection clipboard -t image/png
bindsym Ctrl+Shift+Print exec --no-startup-id maim --select | xclip -selection clipboard -t image/png



## Color Picker
bindsym $win+Shift+c exec --no-startup-id colorgrab

# Media player controls
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioPause exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

bindsym Ctrl+Shift+Escape exec --no-startup-id kitty --class floating-term -e btm
for_window [class="floating-term"] floating enable, resize set 80 ppt 70 ppt, move position center
