.separated-islands {
  &.Bar .bar-content {
    background-color: transparent;
    padding: 0;
    border: none;
  }

  .bar-icon {
    border: none;
    padding: 0px 5px;
  }

  .bar-section {
    padding: 5px 5px;
    background: var(--bg0);
    /* box-shadow: 2px2px 0 16px var(--bg4); */
  }
}
