.separated-islands {
  &.Bar .bar-content {
    background-color: transparent;
    padding: 0 5px;
    border: none;
  }

  .bar-icon {
    border: none;
    padding: 0px 5px;
  }

  .bar-section {
    padding: 5px 5px;
    background: var(--bg0);
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); */
  }
}
