.layout-transparent {
  &.Bar .bar-content {
    background-color: transparent;
    padding: 0;
    border: none;
  }

  .bar-icon {
    background-color: var(--bg0);
    padding: 3px 6px;
    border: 2px solid var(--border0);
  }

  .audio-button {
    padding-right: 4px;
    padding-left: 4px;
  }

  .battery {
    font-size: 12pt;
  }
}
