.layout-transparent {
  &.compact {
    .bar-section {
      background-color: transparent;

      .workspaces {
        padding: 5px 5px;

        .workspace-button {
          background-color: transparent;

          &.focused {
            background-color: var(--accent0);
            border: none;
          }
        }
      }
    }
  }

  &.Bar .bar-content {
    background-color: transparent;
    padding: 0;
    border: none;

    background-color: transparent;
    padding: 0;
    border: none;
  }

  .bar-icon {
    background-color: var(--bg0);
    padding: 3px 6px;
  }

  &.show-border {
    .bar-icon {
      border: 2px solid var(--border0);
      padding: 3px 6px;
    }
  }

  .audio-button {
    padding-right: 4px;
    padding-left: 4px;
  }

  .battery {
    font-size: 12pt;
  }
}
