.layout-transparent {
  &.Bar .bar-content {
    background-color: transparent;
    padding: 0;
    border: none;
  }

  .bar-icon {
    background-color: var(--bg0);
    padding: 3px 6px;
    border: 2px solid var(--bg4);
  }

  /* button.bar-icon { */
  /*   padding: 0; */
  /* } */

  .workspaces {
    padding: 4px 5px;
    background-color: var(--bg0);
    border: 2px solid var(--bg4);

    .workspace-button {
      background-color: var(--bg0);
      border: 2px solid var(--bg4);

      &.focused {
        background-color: var(--bg0);
        border-color: var(--purple);
      }
    }
  }

  .audio-button {
    padding-right: 4px;
    padding-left: 4px;
  }

  .battery {
    font-size: 12pt;
  }
}
