/* Default (fallback) */
:root {
  --bg0: #232634;
  --fg: #c6d0f5;
}

/* Catppuccin theme */
.catppuccin {
  --bg0: #232634;
  --bg1: #292c3c;
  --bg2: #303446;
  --bg3: #414559;
  --bg4: #51576d;

  --fg: #c6d0f5;

  --red: #e78284;
  --orange: #ef9f76;
  --yellow: #e5c890;
  --green: #a6d189;
  --aqua: #81c8be;
  --blue: #8caaee;
  --purple: #ca9eee;

  --grey0: #737994;
  --grey1: #838ba7;
  --grey2: #949cbb;
}

/* Nord theme */
.nord {
  --bg0: #2e3440;
  --bg1: #3b4252;
  --bg2: #434c5e;
  --bg3: #4c566a;
  --bg4: #616e88;

  --fg: #d8dee9;

  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --aqua: #8fbcbb;
  --blue: #81a1c1;
  --purple: #b48ead;

  --grey0: #d8dee9;
  --grey1: #cfd6e3;
  --grey2: #bfc7d5;
}

/* Gruvbox Darker theme */
.gruvbox-dark {
  --bg0: #1d2021;
  --bg1: #282828;
  --bg2: #32302f;
  --bg3: #3c3836;
  --bg4: #504945;

  --fg: #ebdbb2;

  --red: #fb4934;
  --orange: #fe8019;
  --yellow: #fabd2f;
  --green: #b8bb26;
  --aqua: #8ec07c;
  --blue: #83a598;
  --purple: #d3869b;

  --grey0: #665c54;
  --grey1: #7c6f64;
  --grey2: #928374;
}

.monochrome-blue-dark {
  --bg0: #0f1726;
  --bg1: #0f1726;
  --bg2: #0f1726;
  --bg3: #0f1726;
  --bg4: #0f1726;

  --fg: #7aa2f7;

  --red: #7aa2f7;
  --orange: #7aa2f7;
  --yellow: #7aa2f7;
  --green: #7aa2f7;
  --blue: #7aa2f7;
  --purple: #7aa2f7;
  --aqua: #7aa2f7;
  --pink: #7aa2f7;

  --subtext0: #7aa2f7;
  --subtext1: #7aa2f7;

  --surface0: #0f1726;
  --surface1: #0f1726;
  --surface2: #0f1726;

  --overlay0: #7aa2f7;
  --overlay1: #7aa2f7;
  --overlay2: #7aa2f7;

  --crust: #0f1726;
  --mantle: #0f1726;
}

.monochrome-blue-dark {
  --bg0: #0b1220;
  --bg1: #0b1220;
  --bg2: #0b1220;
  --bg3: #0b1220;
  --bg4: #0b1220;

  --fg: #cfdbe6;

  --red: #cfdbe6;
  --orange: #cfdbe6;
  --yellow: #cfdbe6;
  --green: #cfdbe6;
  --blue: #cfdbe6;
  --purple: #cfdbe6;
  --aqua: #cfdbe6;
  --pink: #cfdbe6;

  --subtext0: #cfdbe6;
  --subtext1: #cfdbe6;

  --surface0: #0b1220;
  --surface1: #0b1220;
  --surface2: #0b1220;

  --overlay0: #cfdbe6;
  --overlay1: #cfdbe6;
  --overlay2: #cfdbe6;

  --crust: #0b1220;
  --mantle: #0b1220;

  .bar-content {
    background: var(--bg0);
    border: 0px solid var(--bg4);
    border-radius: 0px;
  }

  .workspaces {
    .workspace-button-container {
      .workspace-button {
        border-color: var(--fg);

        &.focused {
          background-color: var(--fg);
        }
      }
    }
  }

  .bar-icon {
    font-size: 9pt;
    padding: 0;
  }
}
