.text-accent0 {
  color: var(--accent0);
}

.text-accent1 {
  color: var(--accent1);
}

.text-accent2 {
  color: var(--accent2);
}

.text-accent3 {
  color: var(--accent3);
}

.text-accent4 {
  color: var(--accent4);
}

.text-accent5 {
  color: var(--accent5);
}

.text-accent6 {
  color: var(--accent6);
}

.bg-accent0 {
  background-color: var(--accent0);
}

.bg-accent1 {
  background-color: var(--accent1);
}

.bg-accent2 {
  background-color: var(--accent2);
}

.bg-accent3 {
  background-color: var(--accent3);
}

.bg-accent4 {
  background-color: var(--accent4);
}

.bg-accent5 {
  background-color: var(--accent5);
}

.bg-accent6 {
  background-color: var(--accent6);
}

.border-accent0 {
  border-color: var(--accent0);
}

.border-accent1 {
  border-color: var(--accent1);
}

.border-accent2 {
  border-color: var(--accent2);
}

.border-accent3 {
  border-color: var(--accent3);
}

.border-accent4 {
  border-color: var(--accent4);
}

.border-accent5 {
  border-color: var(--accent5);
}

.border-accent6 {
  border-color: var(--accent6);
}
