// @import "catppuccin-latte"
@import "~/.config/rofi/custom/colors.rasi"
// @import "catppuccin-macchiato"
// @import "catppuccin-mocha"

configuration {
    show-icons:                     true;
    font: "mono 11";
}

element {
    padding: 5px 10px ;
    border-radius: 10px;
    cursor:  pointer;
    orientation: vertical;
    spacing: 10px ;
    border:  0;
}
element normal.normal {
    background-color: @bg0;
    text-color:       @fg;
}
// element normal.urgent {
//     background-color: @bg0;
//     text-color:       @urgent-foreground;
// }
// element normal.active {
//     background-color: @active-background;
//     text-color:       @active-foreground;
// }
element selected.normal {
    background-color: @blue;
    text-color:       @bg1;
}
// element selected.urgent {
//     background-color: @selected-urgent-background;
//     text-color:       @selected-urgent-foreground;
// }
element selected.active {
    background-color: @blue;
    text-color:       @fg;
}
element alternate.normal {
    background-color: @bg0;
    text-color:       @fg;
}
// element alternate.urgent {
//     background-color: @alternate-urgent-background;
//     text-color:       @alternate-urgent-foreground;
// }
// element alternate.active {
//     background-color: @alternate-active-background;
//     text-color:       @alternate-active-foreground;
// }
element-text {
    padding: 5px; background-color: transparent;
    cursor:           inherit;
    highlight:        inherit;
    text-color:       inherit;
}
element-icon {
    background-color: transparent;
    size:             1.7000em ;
    cursor:           inherit;
    text-color:       inherit;
}
window {
    padding:          10px 20px;
    // height: 301px;
    width: 560px;
    background-color: @bg0;
    border-radius: 10px;
    border: none;
    border: 2px solid;
    border-color: @blue;
}
mainbox {
    padding: 0;
    border:  0;
}
message {
    padding:      1px ;
    color: @fg;
    // border-color: @separatorcolor;
    // border:       2px solid 0px 0px ;
}
textbox {
    text-color: @fg;
}
listview {
    padding:      10px;
    scrollbar:    true;
    columns:      4;
    lines: 3;
    // border-color: @separatorcolor;
    spacing:      2px ;
    // fixed-height: 0;
    border:       none;
}
scrollbar {
    width:        4px ;
    padding:      0;
    handle-width: 0px ;
    border:       0;
    handle-color: @blue;
}
// sidebar {
//     border-color: @separatorcolor;
// }
button {
    cursor:     pointer;
    spacing:    0;
    text-color: @fg;
}
// button selected {
//     background-color: @selected-normal-background;
//     text-color:       @selected-normal-foreground;
// }
// num-filtered-rows {
//     expand:     false;
//     text-color: Gray;
// }
// num-rows {
//     expand:     false;
//     text-color: Gray;
// }
// textbox-num-sep {
//     expand:     false;
//     str:        "/";
//     text-color: Gray;
// }
inputbar {
    padding:    20px 00px ;
    padding-top: 0px;
    spacing:    5px ;
    children:   [ "entry"];
    border-radius: 20px;
    text-color: @fg;
    border-radius: 0px;
    border-radius: 2px 2px 0 0;
}
case-indicator {
    spacing:    0;
    text-color: @normal-foreground;
}
entry {
    text-color:        @fg;
    padding: 10px;
    border-radius: 10px;
    cursor:            text;
    spacing:           0;
    background-color: @bg1;
    placeholder-color: @blue;
    placeholder:       "...";
}

prompt {
    spacing:    0;
    text-color: @fg;
}
textbox-prompt-colon {
    margin:     0px 0.3000em 0.0000em 0.0000em ;
    expand:     false;
    str:        ":";
    text-color: inherit;
}

