// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

@use "styles/widgets.scss";
@use "styles/themes.scss";

window.Bar {
  background: transparent;
  /* color: $bg0; */
  font-weight: bold;
  font-size: 10pt;

  > centerbox {
    background: $bg-color;
    background: var(--bg0);
    border-radius: 5px;
    border: 2px solid var(--bg3);
    padding: 3px;
    margin: 5px 10px;
  }
}
