@use "styles/themes.scss";
@use "styles/widgets.scss";

window.Bar {
  background: transparent;
  color: var(--fg);
  font-weight: bold;
  font-size: 10pt;

  > centerbox {
    background: var(--bg0);
    border: 2px solid var(--bg4);
    border-radius: 5px;
    padding: 4px;
    margin: 5px 10px;
    margin-bottom: 0px;

    .blue-fg {
      color: var(--blue);
    }

    .green-fg {
      color: var(--green);
    }
  }
}

.separator {
  min-height: 2px;
  background: red;
  background: var(--bg1);
  margin: 3px 0px;
}
