* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Roboto", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

window#waybar {
  padding-left: 40px;
  background: shade(alpha(@bg0, 1), 1);
  /* border-bottom: 1px solid @border-bottom; */
  border-bottom: 1px solid @bg4;
  color: @text;
  padding-right: 30px;
}

window#waybar.hidden {
  /**opacity: 0.2;**/
}
